.header {
    background-color: #1f2937;
}

body {
    text-align: center;
}

.logo {
    width: 60px;
    height: auto;
    float: left;
    padding: 10px 0px 0px 10px;
}

.links {
    display: flex;
    flex-direction: row;
    float: right;
    color: #E5E7EB;
    font-size: 18px;
    
}

li {
    padding: 16px;
    list-style-type: none;
}

.top {
    display: flex;
    padding-top: 100px;
}

.top-text,
.top-image {
    padding: 20px;
}

.top-image {
    padding-left: 70px;
}

.main-title {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 800;
}

p {
    font-size: 18px;
    color: #E5E7EB;
}


button {
    background-color: #3882F6;
    font-size: 18px;
    font-weight: bold;
    color: #E5E7EB;
    border-radius: 5px;
    border-color: #3882F6;
    justify-content: center;
    
}

.phrase {
    flex: 1;
    display: flex;
    flex-direction: column;
}